<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Reverie Email Signature Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="./bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="/create" method="post">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Generate Your Email Signature</h1>
        <label for="text" class="sr-only">Full Name</label>
        <input name="fname" type="text" id="inputfullname" class="form-control" placeholder="Full Name" required
            autofocus>
        <label for="text" class="sr-only">Full Name In Other Language</label>
        <input name="fname1" type="text" id="inputfullnameother" class="form-control"
            placeholder="Full Name In Other Language" required>
        <label for="text" class="sr-only">Designation</label>
        <input name="designation" type="text" id="inputdesignation" class="form-control" placeholder="Designation"
            required>
        <label for="inputPassword" class="sr-only">Mobile No</label>
        <input name="mobile" type="tel" id="inputpassword" class="form-control" placeholder="Mobile No" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:15px;">Generate
            Signature</button>
        <p class="mt-5 mb-3 text-muted">&copy; Reverie Language Technologies Private Limited</p>
    </form>
</body>

</html>