<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="./signin.css" rel="stylesheet">
</head>

<body style="background-color: white">
    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn"
        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family:Open Sans; background-color: white">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn"
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family:Open Sans;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;">
                                    <h3 color="#000000" class="sc-jhAzac hmXDXQ"
                                        style="margin: 0px; font-size: 14px; color: rgb(0, 0, 0);">
                                        <span><%= fname1 %></span></h3>
                                    <h3 color="#000000" class="sc-jhAzac hmXDXQ"
                                        style="margin: 0px; font-size: 14px; color: rgb(0, 0, 0);">
                                        <span><%= fname %></span></h3>
                                    <p color="#000000" font-size="medium" class="sc-fBuWsC eeihxG"
                                        style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                                        <span><%= designation %></span></p>
                                    <p color="#000000" font-size="medium" class="sc-fBuWsC eeihxG"
                                        style="margin: 0px; color:#9F9F9F; font-size: 12px; line-height: 22px;">
                                        <span>+91-<%= mobile %></span></p>
                                </td>
                                <td width="30">
                                    <div style="width: 30px;"></div>
                                </td>


                                <td style="vertical-align: middle;">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn"
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family:Open Sans; width: 100%;">
                        <tbody>

                            <tr>
                                <td height="1" color="#ed4037" direction="horizontal" class="sc-hzDkRC kpsoyz"
                                    style="width: 100%; border-bottom: 2px solid rgb(237, 64, 55); border-left: none; display: block;margin-top:5px;margin-bottom:5px;">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn"
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: " lucida=""
                        sans="">

                        <tbody>
                            <tr>
                                <td style="vertical-align: top;"><img width="190"
                                        src="https://reverieinc.com/logo/Reverie_Horizontal.png" role="presentation"
                                        class="sc-kjoXOD hpTAeq" style="max-width: 190px; display: inline-block;"></td>
                                <td style="text-align: right;vertical-align: top;padding: 0 0 0 120;">
                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn"
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family:Open Sans; display: inline-block;">
                                        <tbody>
                                            <tr style="text-align: right;margin-right: 125px;">
                                                <td><a href="https://www.google.com/maps/place/Reverie+Language+Technologies/@12.9213718,77.6642378,15z/data=!4m5!3m4!1s0x0:0x9ceafa1d8fa821f8!8m2!3d12.9213718!4d77.6642378"
                                                        color="#ed4037" class="sc-bRBYWo ccSRck"
                                                        style="display: inline-block; padding: 0px;"><img height="24"
                                                            src="https://reverieinc.com/reverie-social-icons/location.png"
                                                            alt="Address" color="#ed4037" class="sc-Rmtcm gwGgYM"
                                                            style=" max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                    <div></div>
                                                </td>
                                                <td>

                                                    <a href="https://www.reverieinc.com" color="#ed4037"
                                                        class="sc-bRBYWo ccSRck"
                                                        style="display: inline-block; padding: 0px;">
                                                        <img width="24"
                                                            src="https://reverieinc.com/reverie-social-icons/web.png"
                                                            color="#ed4037" class="sc-gPEVay eQYmiW"
                                                            style="display: block;">

                                                    </a>

                                                </td>
                                                <td width="5">
                                                    <div></div>
                                                </td>
                                                <td><a href="https://www.facebook.com/reverietech"
                                                        class="sc-bRBYWo ccSRck"
                                                        style="display: inline-block; padding: 0px;"><img height="24"
                                                            src="http://reverieinc.com/reverie-social-icons/facebook.png"
                                                            alt="facebook" color="#ed4037" class="sc-Rmtcm gwGgYM"
                                                            style=" max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                    <div></div>
                                                </td>
                                                <td><a href="https://twitter.com/reverietech" class="sc-bRBYWo ccSRck"
                                                        style="display: inline-block; padding: 0px;"><img height="24"
                                                            src="http://reverieinc.com/reverie-social-icons/twitter.png"
                                                            alt="twitter" color="#ed4037" class="sc-Rmtcm gwGgYM"
                                                            style=" max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                    <div></div>
                                                </td>
                                                <td><a href="https://www.linkedin.com/company/reverie-language-technologies-pvt--ltd/"
                                                        class="sc-bRBYWo ccSRck"
                                                        style="display: inline-block; padding: 0px;"><img height="24"
                                                            src="http://reverieinc.com/reverie-social-icons/linkedin.png"
                                                            alt="linkedin" color="#ed4037" class="sc-Rmtcm gwGgYM"
                                                            style=" max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                    <div></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

</body>

</html>